{% extends 'Main.html' %}

{% load crispy_forms_tags %}

{% block reg_active %}
    active
{% endblock %}

{% block body %}

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Register Account</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post">
            <div class="card-body">
                {% csrf_token %}
                {{ form | crispy }}
            </div>
            <!-- /.card-body -->

            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>



{% endblock %}