{% extends 'Main.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="{{ user_.profile.url }}"
                             alt="User profile picture" style="width: 100px; height: 100px;">
                    </div>

                    <h3 class="profile-username text-center">{{ user_.fullName }}</h3>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Username</b> <a class="float-right">{{ user_.username }}&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="list-group-item">
                            <b>First Name</b> <a class="float-right">{{ user_.first_name }}&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="list-group-item">
                            <b>Last Name</b> <a class="float-right">{{ user_.last_name }}&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="list-group-item">
                            <b>Email</b> <a class="float-right">{{ user_.email }}&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="list-group-item">
                            <b>Currency</b> <a class="float-right">{{ user_.currency }}&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="list-group-item">
                            <b>Accounts</b> <a class="float-right">{{ user_.accounts.count }}&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="list-group-item">
                            <b>Entries</b> <a class="float-right">{{ user_.entries.count }}&nbsp;&nbsp;&nbsp;</a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Update Profile</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form style="width: 100%" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form | crispy }}
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}